.container{
    background-color: rgb(145, 203, 149);
    display: grid;
    max-width: 40em;
    min-width: 20em;
    grid-template-columns: 30em;
    row-gap: 3em;
    grid-template-rows: 5em 10em;
    justify-content: center;
    padding: 1em 4em ;
    margin-top: 15em;
    
}

body{
    display: flex;
    justify-content: center;
}


.tabs{
    width: 100%;
    display: flex;
   justify-content: space-around;
   align-items: center;
   
   
}

.tab_btn{
font-size: 16px;
border: none;
padding: 1em;
cursor: pointer;
}

.tab_btn.active{
    background-color: rgb(145, 203, 149);
}


.content{

    display:none;
    min-width: 10em;
    column-gap: 5em;
    grid-template-columns: repeat(2, 15em); 
    grid-template-rows: 5em 5em;
    
}


.content.active{
display: grid;
    
}  
