.container{
    background-color: rgb(145, 203, 149);
    display: grid;
    max-width: 40em;
    min-width: 20em;
    grid-template-columns: 30em;
    row-gap: 2em;
    grid-template-rows: 5em 4em 2em 4em;
    padding: 3em 4em ;
    margin-top: 12em;
    
}

body{
    display: flex;
    justify-content: center;
}


.tabs{
    width: 100%;
    display: flex;
   justify-content: space-around;
   align-items: center;
   
}

.tab_btn{
font-size: 16px;
border: none;
padding: 1em;
cursor: pointer;
}

.tab_btn.active{
    background-color: rgb(145, 203, 149);
}


.textboxes{
    display:flex;
    justify-content: space-between;
}


.units{

    display:none;
   justify-content: space-between;
   gap: 0;
  
    
}


.units.active{
display: flex;
    
}  

.convertWrapper{
    display: flex;
    grid-template-columns: 30%;

    justify-content: center;
}


#convertButton{
   
    max-width: 10em;
    border: none;
    padding: 1em;
    cursor: pointer;
    font-size: 20px;
    
}
